.container
  = render 'data_tables/tabs'

  .lead Plant Trial scoring

  .data-filters
    %p
      Showing trial scoring for Plant Trial
      %span.label.label-info
        = @plant_trial.plant_trial_name

  = back_button

  - url = trial_scoring_path(id: @plant_trial.id, trait_descriptor_ids: @trait_descriptors.map(&:id))
  %table.table.table-condensed.table-browse.table-hover.data-table#trial-scoring{ data: { ajax: url }}
    %thead
      %tr
        %th.plant_scoring_units_scoring_unit_name_column
          = t 'tables.plant_scoring_units.scoring_unit_name'
        - @trait_descriptors.map{ |td| [td.id, td.try(:trait).try(:name)] }.each do |id, column|
          - (1..@replicate_numbers[id]).each do |replicate_number|
            %th.trait_scores_score_value_column
              = column
              - unless replicate_number == 1 && @replicate_numbers[id] == 1
                = " rep#{replicate_number}"
    %tbody
