.action-buttons
  = my_submissions_button

  - if submission.first_step?
    = link_to "Cancel", submissions_path, class: 'btn btn-default'
  - else
    = f.submit "Back", class: 'btn btn-default btn-back', name: 'back'

  - unless submission.last_step?
    = f.submit "Next", class: 'btn btn-primary btn-wide btn-next pull-right'
  - else
    = f.submit "Send", class: 'btn btn-primary btn-wide pull-right'

