= form_for submission do |f|

  = render partial: '/errors', locals: { errors: submission.errors }
  = render partial: '/errors', locals: { errors: @content.errors }

  = f.fields_for :content, @content do |content|

    = render partial: "submissions/annotations", locals: { target: 'annotations', collapsible: false, form: content }

  .alert.alert-warning
    Sending your submission will make provided data publicly available.<br/>
    Please, double check data correctness as further changes will require
    contact with support team.

  = render partial: 'submissions/steps/buttons', locals: { f: f, submission: submission }
