= form_for submission do |f|

  = render partial: '/errors', locals: { errors: submission.errors }
  = render partial: '/errors', locals: { errors: @content.errors }

  = f.fields_for :content, @content do |content|


    .form-group
      = content.label :name, "Population name"
      = content.text_field :name, class: 'form-control'
      %p.help-block Please, provide <b>population name</b>

    .form-group
      = content.label :description
      = content.text_area :description, class: 'form-control'

    .form-group
      = content.label :owned_by, "Population owned by"
      = content.text_field :owned_by, class: 'form-control'

  = render partial: 'submissions/steps/buttons', locals: { f: f, submission: submission }
