%h3 Step 3/4: Plant lines

= form_for submission do |f|

  = render partial: '/errors', locals: { errors: submission.errors }
  = render partial: '/errors', locals: { errors: @content.errors }

  = f.fields_for :content, @content do |content|

    .form-group
      = content.label :female_parent_line
      = content.select :female_parent_line, [@content.female_parent_line], {}, class: 'female-parent-line form-control', 'data-placeholder': "Select plant line"
      %p.help-block Optional

    .form-group
      = content.label :male_parent_line
      = content.select :male_parent_line, [@content.male_parent_line], {}, class: 'male-parent-line form-control', 'data-placeholder': "Select plant line"
      %p.help-block Optional

    %hr

    .alert.alert-info
      Select one or more <b>Plant lines</b> from the database.<br/>
      If suitable <b>Plant line</b> does not seem to exist in our
      database you are welcome to add it with your submission.

    .form-group
      = content.label :plant_line_list
      = content.select :plant_line_list, @content.plant_line_list || [], {}, multiple: true, class: 'plant-line-list form-control', 'data-placeholder': "Select plant line"

    .new-plant-line-for-list
      %h5 Add new <b>Plant line</b>

      .form-group
        = label_tag :plant_line_name
        = text_field_tag :plant_line_name, nil, class: 'form-control', placeholder: 'Enter new plant line name'
        %p.help-block Required

      .form-group
        = label_tag :plant_line_comments, 'Comments'
        = text_area_tag :plant_line_comments, nil, class: 'form-control'
        %p.help-block Required

      .form-group
        = label_tag :plant_line_data_provenance, 'Data provenance'
        = text_area_tag :plant_line_data_provenance, nil, class: 'form-control'
        %p.help-block Required

      .action-buttons
        %button.add-plant-line-for-list{type: 'button'} Add

  = render partial: 'submissions/steps/buttons', locals: { f: f, submission: submission }
