%h3 Step 2/4

= form_for submission do |f|

  = render partial: '/errors', locals: { errors: submission.errors }
  = render partial: '/errors', locals: { errors: @content.errors }

  = f.fields_for :content, @content do |content|

    .form-group
      = content.label :population_type
      = content.select :population_type, @content.class.population_types, {}, class: 'population-type form-control', 'data-placeholder': "Select population type"
      %p.help-block Required

    .form-group
      = content.label :plant_line
      = content.select :plant_line, [@content.plant_line], {}, class: 'plant-line form-control', 'data-placeholder': "Select plant line"
      %p.help-block Required unless <b>Taxonomy term</b> is selected

    .form-group
      = content.label :taxonomy_term
      = content.select :taxonomy_term, @content.class.taxonomy_terms, {}, class: 'taxonomy-term form-control', 'data-placeholder': "Select taxonomy term"
      %p.help-block Required unless <b>Plant line</b> is selected

  = render partial: 'submissions/steps/buttons', locals: { f: f, submission: submission }

