%h3 Step 2/4

= form_for submission do |f|

  = render partial: '/errors', locals: { errors: submission.errors }
  = render partial: '/errors', locals: { errors: @content.errors }

  = f.fields_for :content, @content do |content|

    .form-group
      = content.label :population_type
      = content.select :population_type, @content.class.population_types, class: 'form-control'

    .form-group
      = content.label :plant_line
      = content.select :plant_line, @content.class.plant_lines.unshift(nil), class: 'form-control'

    .form-group
      = content.label :taxonomy_term
      = content.select :taxonomy_term, @content.class.taxonomy_terms.unshift(nil), class: 'form-control'

  = render partial: 'submissions/steps/buttons', locals: { f: f, submission: submission }
