%h3 Part I

= form_for submission do |f|

  = render partial: '/errors', locals: { errors: submission.errors }
  = render partial: '/errors', locals: { errors: @content.errors }

  = f.fields_for :content, @content do |content|


    .form-group
      = content.label :foo
      = content.text_field :foo, class: 'form-control'
      %p.help-block Please, describe <b>foo</b> used in this research

    .form-group
      = content.label :bar
      = content.select :bar, [1, 2]
      %p.help-block Which <b>bar</b> do you prefer?

  = render partial: 'submissions/steps/buttons', locals: { f: f, submission: submission }
