%h3 Step 3/4: Plant lines

= form_for submission do |f|

  = render partial: '/errors', locals: { errors: submission.errors }
  = render partial: '/errors', locals: { errors: @content.errors }

  = f.fields_for :content, @content do |content|

    .form-group
      = content.label :female_parent_line
      = content.select :female_parent_line, [@content.female_parent_line], {}, class: 'female-parent-line form-control', 'data-placeholder': "Select plant line"
      %p.help-block Optional

    .form-group
      = content.label :male_parent_line
      = content.select :male_parent_line, [@content.male_parent_line], {}, class: 'male-parent-line form-control', 'data-placeholder': "Select plant line"
      %p.help-block Optional

  = render partial: 'submissions/steps/buttons', locals: { f: f, submission: submission }
