.panel.panel-default
  .panel-heading
    .panel-title= title

  %table.table
    - props.each do |prop|
      %tr
        %td.prop= raw prop[:name]
        %td.format= prop[:format]
        %td.create= prop[:create]
        %td.desc= raw prop[:desc]

