.form-group
  = content.label :taxonomy_term
  = content.select :taxonomy_term, options_for_select(TaxonomyTerm.names, @content.taxonomy_term), { include_blank: true }, class: 'taxonomy-term form-control', 'data-placeholder': 'Select term'
  %small.help-block Please, leave this field blank if you are going to submit many plant lines of different species, in the following step.

.form-group
  = content.label :female_parent_line
  = content.select :female_parent_line, [@content.female_parent_line], { include_blank: true }, class: 'female-parent-line form-control', 'data-placeholder': "Select plant line"

.form-group
  = content.label :male_parent_line
  = content.select :male_parent_line, [@content.male_parent_line], { include_blank: true }, class: 'male-parent-line form-control', 'data-placeholder': "Select plant line"
