.form-group
  = content.text_field :plant_trial_name, required: true,
    help: 'Please, provide convenient <b>name</b> for this scoring trial'

.form-group
  = content.text_field :project_descriptor, required: true, label: 'Project name'

.form-group
  = content.label :plant_population_id, "Plant population", class: 'required'
  - options = options_for_submission_select(@content.plant_population, :name)
  = content.select :plant_population_id, options, { include_blank: true },
    { class: 'form-control plant-population', data: { placeholder: 'Select plant population' } }

.form-group
  = content.text_area :plant_trial_description, label: 'Trial description'

.form-group
  = content.text_field :trial_year

- %w(institute_id terrain soil_type statistical_factors design_factors).each do |attr|
  .form-group
    = render partial: "submissions/input_or_select",
             locals: { attr: attr,
                       options: options_for_select(PlantTrial.attribute_values(attr)) }

%fieldset
  %legend Location

  .form-group
    = content.country_select :country_id, placeholder: 'Select a country'

  - %w(trial_location_site_name place_name).each do |attr|
    .form-group= content.text_field attr

  .form-group= content.text_field :latitude, help: 'Expressed in degrees, eg. 48.86'
  .form-group= content.text_field :longitude, help: 'Expressed in degrees, eg. 2.30'
  .form-group= content.text_field :altitude, help: 'Expressed in meters'

