.form-group
  = content.text_field :plant_trial_name, required: true,
    help: 'Please, provide convenient <b>name</b> for this scoring trial. It has to be <b>unique</b>.'

.form-group
  = content.text_field :project_descriptor, required: true, label: 'Project name'

.form-group
  = content.label :plant_population_id, "Plant population", class: 'required'
  - options = options_for_submission_select(@content.plant_population, :name)
  = content.select :plant_population_id, options, { include_blank: true },
    { class: 'form-control plant-population', data: { placeholder: 'Select plant population' } }
  %small.help-block
    If the trial was performed for a population that is not listed in BIP, plese use Plant Population
    submission to upload information about that population first.

.form-group
  = content.text_field :trial_year, required: true,
    placeholder: "Please provide information on the year the trial took place",
    help: "Note that you can only submit trait data from one year at a time. Examples: 2004, 2005, 2016."

.form-group
  = content.text_area :plant_trial_description, label: 'Trial description'

- %w(institute_id terrain soil_type statistical_factors design_factors).each do |attr|
  .form-group
    - options = options_for_select(PlantTrial.attribute_values(attr), @content.send(attr))
    = content.combo_field attr, options


%fieldset
  %legend Location

  .form-group= content.country_select :country_id, placeholder: 'Select a country', required: true
  .form-group= content.text_field :place_name, required: true, help: 'Geographical name, for instance a town'
  .form-group= content.text_field :trial_location_site_name, help: 'Name of the field, glasshouse or growth room used for planting'
  .form-group= content.text_field :latitude, help: 'Expressed in degrees, eg. 48.86'
  .form-group= content.text_field :longitude, help: 'Expressed in degrees, eg. 2.30'
  .form-group= content.text_field :altitude, help: 'Expressed in meters'

