.alert.alert-info
  If available, please upload an image of the layout of your trial (see
  #{link_to "example", "/assets/plant-trial-layout-example.jpg", target: "_blank"}).

.errors.hidden

= form_tag submission_uploads_path(submission), multipart: true, method: :post do

  = hidden_field_tag "submission_upload[upload_type]", "plant_trial_layout"

  .form-group
    .btn.btn-primary.fileinput-button{ class: "#{'hidden' if @content.layout_upload}" }
      %span Choose a file...
      = file_field_tag "submission_upload[file]", class: 'layout-upload'
