.alert.alert-info
  Select one or more <b>Trait descriptors</b> from the database. They should describe the traits
  that were scored in the scope of this Plant trial.<br/>
  If suitable <b>Trait descriptor</b> does not seem to exist in our
  database you are welcome to add it with your submission.

.form-group
  = content.label :trait_descriptor_list
  - options = options_for_submission_select(@content.existing_trait_descriptors, :descriptor_name)
  - options.concat options_for_submission_select(@content.new_trait_descriptors, :descriptor_name, id: false)
  = content.select :trait_descriptor_list, options, {},
    { multiple: true,
      class: 'trait-descriptor-list form-control',
      'data-placeholder': "Select trait descriptors" }

%button.btn.btn-default.new-trait-descriptor-for-list{ type: :button } Add new Trait descriptor

.panel.panel-info.new-trait-descriptor-for-list.hidden
  .panel-heading
    %h4 Add new <b>Trait descriptor</b>

  .panel-body
    .form-group
      = label_tag :descriptor_name, nil, class: 'required'
      = text_field_tag :descriptor_name, nil, class: 'form-control required', placeholder: 'Enter new trait name'

    .form-group
      = label_tag :category, 'Trait category', class: 'required'
      = text_field_tag :category, nil, class: 'form-control required'

    - %w(units_of_measurements score_type where_to_score).each do |attr|
      .form-group
        = render partial: "submissions/input_or_select",
                 locals: { attr: attr,
                           options: options_for_select(TraitDescriptor.attribute_values(attr)) }

    - %w(when_to_score scoring_method).each do |attr|
      .form-group
        = label_tag attr
        = text_field_tag attr, nil, class: 'form-control'

    - %w(precautions materials instrumentation_required).each do |attr|
      .form-group
        = label_tag attr
        = text_area_tag attr, nil, class: 'form-control'

    - %w(controls calibrated_against likely_ambiguities possible_interactions).each do |attr|
      .form-group
        = label_tag attr
        = text_field_tag attr, nil, class: 'form-control'

    = render partial: "submissions/annotations", locals: { model: TraitDescriptor }

    .action-buttons
      %button.btn.btn-default.cancel-new-trait-descriptor-for-list{type: 'button'} Cancel
      %button.btn.btn-primary.add-new-trait-descriptor-for-list{type: 'button'} Confirm

- @content.new_trait_descriptors.each do |trait_descriptor|
  %div{id: "new-trait-descriptor-#{trait_descriptor.descriptor_name.split.join('-').downcase}"}
    - @content.class.new_trait_descriptor_properties.each do |attr|
      = hidden_field_tag "submission[content][new_trait_descriptors][][#{attr}]", trait_descriptor.send(attr)
