= render 'data_tables/tabs'

.lead Plant Lines table

= link_to 'TEMP LINK TO Plant populations', data_tables_path(model: :plant_populations)

= datatable_tag do
  - PlantLine.table_columns.each do |table_column|
    - table_column = params[:model] + '.' + table_column unless table_column.include? '.'
    %th= t("tables.#{table_column}")
