= render 'data_tables/tabs'

.lead Trait Descriptors table

= datatable_tag do
  - TraitDescriptor.table_columns.each do |column|
    - column = "#{params[:model]}.#{column}" unless column.to_s.include? '.'
    %th= t("tables.#{column}")
