%ul.analyses
  - analyses.each do |analysis|
    %li

      .main-info
        %div
          = analysis.analysis_type
          = link_to analysis.name, analysis_path(analysis)

      .status
        = analysis_status_label(analysis)

        .details
          - if analysis.idle? || analysis.running?
            Created at #{l analysis.created_at.utc, format: :short}
          - else
            Finished at #{l analysis.finished_at.utc, format: :short}
