- if @analysis.success?
  - if @analysis.removed_mutations.present?
    .alert.alert-warning
      Following mutations were excluded from the input due to lack of variability:
      = @analysis.removed_mutations.join(", ")

    .alert.alert-warning
      Following traits were excluded from the input due to lack of variability:
      = @analysis.removed_traits.join(", ")

  - if @cutoff > 0
    .alert.alert-info
      Plotting SNPs with -log<sub>10</sub>(p-value) &geq; #{@cutoff}. See table below for complete data or
      #{link_to "replot", analysis_path(@analysis, cutoff: 0)} with no cutoff.

  #gwas-manhattan-plot{ data: @manhattan }
    .loading
      %span.fa.fa-spin.fa-circle-o-notch.fa-4x

  %table.table.table-condensed.table-hover{ "data-export": :all, "data-url": analysis_path(@analysis) }
    %thead
      %tr
        %th SNP
        %th Chromosome
        %th Position
        %th -log<sub>10</sub>(P)
        %th Trait

- elsif @analysis.failure?
  - failure_reason = @analysis.meta['failure_reason'] || :shell_job_error

  .alert.alert-danger= t(".failure_reason.#{failure_reason}")
