- form ||= nil
- collapsible = true unless [true, false].include?(collapsible)
- attrs = %w(data_owned_by data_provenance comments).select { |attr| model.attribute_names.include?(attr) }
- target ||= "#{model.name.underscore.dasherize}-annotations"

- if collapsible
  %button.toggle-annotations.btn.btn-default{ type: 'button', data: { toggle: 'collapse', target: "##{target}" } }
    Additional Annotations
    %i.fa.fa-caret-down

%div{ id: target, class: collapsible ? 'collapse' : '' }
  .well.annotations-inner
    - attrs.each do |attr|
      .form-group
        - if form
          = form.text_area attr, label: attr.humanize.capitalize
        - else
          = label_tag attr, attr.humanize.capitalize
          = text_area_tag attr, nil, class: 'form-control'

        %small.help-block= t "submission.common.#{attr}"
