- if submission.published? && submission.revocable?
  - tooltip = capture do
    .text-left= t('.revoke')

  = confirmable_action("Revoke publication",
                       submission,
                       url: revoke_submission_path(submission),
                       method: :patch,
                       title: tooltip,
                       btn_size: btn_size)

- elsif !submission.published?
  - tooltip = capture do
    .text-left= t('.publish')

  = confirmable_action("Publish",
                       submission,
                       url: publish_submission_path(submission),
                       method: :patch,
                       btn_size: btn_size,
                       btn_class: "btn-primary",
                       title: tooltip)

- elsif submission.depositable?
  = link_to "Request a DOI",
            new_deposition_path(deposition: { submission_id: submission.id }),
            class: "btn #{btn_size} btn-primary pull-right",
            title: 'Deposit this submission content in Zenodo.org to get official dataset DOI number.'
