- mode ||= :public
%ul.submissions
  - submissions.each do |submission|
    %li

      .main-info
        %div
          = submission_type(submission)
          - if mode == :public
            = submission_public_link(submission)
          - else
            = submission_private_link(submission)
        %div
          = submission_details(submission)

      - unless submission.finalized?
        .updated-at
          .text Last modification
          .details
            = l submission.updated_at, format: :long
        - unless mode == :public
          .actions.collapse{data: { confirmation: submission.id }, style: 'transition:none'}
            Sure?
            = button_to 'Yes', submission_path(submission), method: :delete, class: 'btn btn-warning'
            %a.btn.btn-default{href: "[data-confirmation=#{submission.id}]", data: { toggle: 'collapse' }}
              No
          .actions.collapse.in{data: { confirmation: submission.id }, style: 'transition:none'}
            = link_to 'Edit', edit_submission_path(submission), class: 'btn btn-default'
            %a.btn.btn-warning{href: "[data-confirmation=#{submission.id}]", data: { toggle: 'collapse' }}
              Delete

      - else
        .finalized-at
          .text Submitted on
          .details
            = l submission.updated_at, format: :long

        .actions
          - if mode == :public
            = link_to 'Details',
              submission_details_path(submission),
              class: 'btn btn-default'
          - else
            .text-success
              %i.fa.fa-check-circle
              Submission finished
