.container
  %h3.section-heading
    = t("submission.submission_type.#{@submission.submission_type}")
    submission

  .row
    .col-sm-12
      = render partial: "/submissions/step_indicators", locals: { submission: @submission }

  .well
    %h4= t("submission.steps.#{@submission.submission_type}.#{@submission.step}.heading")

    %p= t("submission.steps.#{@submission.submission_type}.#{@submission.step}.body")

  = render partial: "submissions/steps/step", locals: { submission: @submission }
