.container
  %p Choose submission type:
  %div{ role: 'tabpanel' }

    %ul.nav.nav-pills{ role: 'tablist' }

      -# TODO FIXME Temporary disabled all submission types apart from Population
      - Submission.submission_types.each do |s_type, s_num|

        %li{ role: 'presentation', class: "#{s_num == 0 ? 'active' : 'disabled'}" }
          - if s_num == 0
            %a{ href: "##{s_type}", role: 'tab', aria: { controls: s_type }, data: { toggle: 'tab' } }
              = t("submission.submission_type.#{s_type}")
          - else
            %a{ href: "##{s_type}" }
              = t("submission.submission_type.#{s_type}")

    .tab-content
      - Submission.submission_types.each do |s_type, s_num|
        - next unless s_num == 0

        %div{ role: 'tabpanel', class: "tab-pane #{'active' if s_num == 0}", id: s_type }

          %h3.section-heading
            Submit new
            = t("submission.submission_type.#{s_type}")

          %p
            = t("submission.description.#{s_type}")
            = t('submission.description.common')

          .row
            .col-sm-12
              %ol.step-indicator
                - Submission::STEPS.each_with_index do |step_name, step_no|

                  %li
                    .step
                      = step_no + 1
                    .panel
                      .panel-heading
                        %h4= t("submission.steps.#{s_type}.#{step_name}.heading")
                      .panel-body
                        = t("submission.steps.#{s_type}.#{step_name}.body")

          .text-center
            = button_to 'Start!',
              submissions_path(submission: { submission_type: s_type }),
              class: 'btn btn-primary btn-lg', method: 'post'
