.container
  %p Choose submission type:
  %div{ role: 'tabpanel' }

    %ul.nav.nav-pills{ role: 'tablist' }

      -# TODO FIXME Temporary disabled submission types other than Population and Trial
      - Submission.submission_types.each do |s_type, s_num|

        %li{ role: 'presentation', class: "#{s_num == 0 ? 'active' : (s_num == 1 ? '' : 'disabled')}" }
          - if s_num == 0 || s_num == 1
            %a{ href: "##{s_type}", role: 'tab', aria: { controls: s_type }, data: { toggle: 'tab' } }
              = t("submission.submission_type.#{s_type}")
          - else
            %a{ href: "##{s_type}" }
              = t("submission.submission_type.#{s_type}")

    .tab-content
      - Submission.submission_types.each do |s_type, s_num|
        - next unless s_num == 0 || s_num == 1

        %div{ role: 'tabpanel', class: "tab-pane #{'active' if s_num == 0}", id: s_type }

          %h3.section-heading
            Submit new
            = t("submission.submission_type.#{s_type}")

          %p
            - if s_type == "population"
              != t("submission.description.#{s_type}", plant_lines_template_url: '/manuals/plant_lines_template.csv')
            - else
              = t("submission.description.#{s_type}")

            = t('submission.description.common', type: s_type).html_safe

          .row
            .col-sm-12
              = render partial: "/submissions/step_indicators", locals: { submission_type: s_type }


          .text-center
            = button_to 'Start!',
              submissions_path(submission: { submission_type: s_type }),
              class: 'btn btn-primary btn-lg', method: 'post'
