.container.show-submission
  %h3.section-heading Submission of #{@submission.submission_type}

  .row
    .col-sm-8
      %h4= @submission.name

    .col-sm-4.text-right
      = render partial: "/submissions/show/status", locals: { submission: @submission, mode: :private }

  .panel.panel-default

    %ul.list-group
      = render "submissions/show/#{@submission.object.submission_type}"

  .row
    .col-sm-6
      = my_submissions_button

    .col-sm-6.text-right
      - if @submission.finalized?
        = render partial: 'publishing', locals: { submission: @submission }
