.container
  %h3.section-heading
    Submission of
    = @submission.submission_type
  %h4= @submission.name

  .panel.panel-default

    %ul.list-group

      = render "submissions/show/#{@submission.object.submission_type}"

  = my_submissions_button
