.container
  %h3.section-heading Submission of #{@submission.object_name}

  .panel.panel-default

    %ul.list-group
      = render "submissions/show/#{@submission.object.submission_type}"

  = my_submissions_button

  - if @submission.depositable?
    = new_deposition_button
