.container
  %h3.section-heading
    #{t("analysis.analysis_type.#{@analysis.analysis_type}")} analysis

  %div{ class: "new-#{@analysis.analysis_type}-analysis" }
    = render partial: '/errors', locals: { errors: @form.errors }

    = fields_for(@form, builder: BaseFormBuilder) do |f|
      .form-group
        = f.text_field :name, required: true, label: 'Analysis name',
          help: 'Please, provide <b>name</b> for the analysis.', form: 'new_analysis'

      %hr

      .form-group
        %label.required Phenotype/trait data
        .alert.alert-info Choose the source of phenotypic data by selecting a plant trial or uploading a file.

      %ul.nav.nav-tabs
        %li{ class: ("active" unless @form.phenotype_data_file) }
          %a{ href: "#plant_trial_select", "data-toggle": :tab } Plant trial

        %li{ class: ("active" if @form.phenotype_data_file) }
          %a{ href: "#phenotype_data_file_upload", "data-toggle": :tab } Data upload

      .form-group
        .tab-content
          .tab-pane#plant_trial_select{ class: ("active" unless @form.phenotype_data_file) }
            = f.select :plant_trial_id, @plant_trials.map { |trial| [trial.plant_trial_name, trial.id] },
              { include_blank: "None" }, class: 'form-control', form: 'new_analysis'

            %small.help-block
              Plant scoring units from selected trial will be used to populate
              genotype CSV file template.

          .tab-pane#phenotype_data_file_upload{ class: ("active" if @form.phenotype_data_file) }
            = render partial: "/analyses/new/phenotype_data_file_help"

            .phenotype-data-file{ class: ('hidden' unless @form.phenotype_data_file) }
              %span.file-name= @form.phenotype_data_file.try(:file_file_name)

              = delete_analysis_data_file_button(@form.phenotype_data_file,
                class: 'btn btn-default delete-phenotype-data-file')

            .phenotype-data-file-errors.errors.hidden

            = form_tag analyses_data_files_path, multipart: true, method: :post do
              = hidden_field_tag "analysis_data_file[data_type]", "gwas_phenotype", id: "phenotype-data-file-data-type"

              .phenotype-data-file-fileinput.fileinput{ class: ('hidden' if @form.phenotype_data_file) }
                .btn.btn-primary.fileinput-button
                  %label{ for: "phenotype-data-file" } Choose phenotype file...
                  = file_field_tag "analysis_data_file[file]", class: 'phenotype-data-file', id: 'phenotype-data-file'

                %small.help-block
                  Please upload the phenotype CSV file here. Max file size is 50 MiB.

      %hr

      .form-group
        = label_tag :genotype_data_file, 'Genotype data', class: 'required'
        = render partial: "/analyses/new/genotype_data_file_help"

        .genotype-data-file-errors.errors.hidden

        = form_tag analyses_data_files_path, multipart: true, method: :post do
          = hidden_field_tag "analysis_data_file[data_type]", "gwas_genotype", id: "genotype-data-file-data-type"

          .genotype-data-file-fileinput.fileinput{ class: ('hidden' if @form.genotype_data_file) }
            .btn.btn-primary.fileinput-button
              %label{ for: "genotype-data-file" } Choose genotype file...
              = file_field_tag "analysis_data_file[file]", class: 'genotype-data-file', id: 'genotype-data-file'

            %small.help-block
              Please upload the genotype VCF or CSV file here. Max file size is 50 MiB.

        .genotype-data-file{ class: ('hidden' unless @form.genotype_data_file) }
          %span.file-name= @form.genotype_data_file.try(:file_file_name)

          = delete_analysis_data_file_button(@form.genotype_data_file,
            class: 'btn btn-default delete-genotype-data-file')

      .form-group{ class: ('hidden' unless @form.map_data_file) }
        = label_tag :map_data_file, 'Genotype map'
        = render partial: "/analyses/new/map_data_file_help"

        .map-data-file-errors.errors.hidden

        = form_tag analyses_data_files_path, multipart: true, method: :post do
          = hidden_field_tag "analysis_data_file[data_type]", "gwas_map", id: "map-data-file-data-type"

          .map-data-file-fileinput.fileinput{ class: ('hidden' if @form.map_data_file) }
            .btn.btn-primary.fileinput-button
              %label{ for: "map-data-file" } Choose map file...
              = file_field_tag "analysis_data_file[file]", class: 'map-data-file', id: 'map-data-file'

            %small.help-block
              Please upload the map CSV file here. Max file size is 50 MiB.

        .map-data-file{ class: ('hidden' unless @form.map_data_file) }
          %span.file-name= @form.map_data_file.try(:file_file_name)

          = delete_analysis_data_file_button(@form.map_data_file,
            class: 'btn btn-default delete-map-data-file')

      %hr

    .action-buttons
      = link_to "Back", new_analysis_path, class: 'btn btn-default btn-wide btn-back'

      .pull-right
        = form_for(@form) do |f|
          = f.hidden_field :analysis_type
          = f.hidden_field :genotype_data_file_id
          = f.hidden_field :map_data_file_id
          = f.hidden_field :phenotype_data_file_id

          = f.submit "Run", class: 'btn btn-primary btn-wide btn-next'

