= submission_value @submission, :population_name
= submission_value @submission, :description
= submission_value @submission, :owned_by
= submission_value @submission, :population_type
= submission_value @submission, :species_name, 'Species'
= submission_value @submission, :plant_line_name, 'Plant line'
= submission_value @submission, :female_parent_line_name, 'Female parent line'
= submission_value @submission, :male_parent_line_name, 'Male parent line'
= submission_value @submission, :data_owned_by
= submission_value @submission, :data_provenance
= submission_value @submission, :comments
