.container
  .h2.page-title About Brassica Information Portal

  %p.text-long
    %strong The Brassica Information Portal
    is a web repository for population and trait
    scoring information related to the Brassica breeding community. It provides
    information about quantitative trait loci and links curated Brassica phenotype
    experimental data with genotype information stored in external data sources.
    Advanced data submission capabilities and APIs enable users to store
    and publish their own study results in our Portal. The repository can be easily
    browsed thanks to a set of user-friendly query interfaces.

  %h4 Earlham Institute (EI)

  %p.text-long
    %strong The Earlham Institute (EI)
    is a vibrant contemporary research institute working in an area of rapid
    technological development and innovation. Our mission is to advance bioscience
    by enabling and developing computational and genomics data-driven approaches in biology.
    We build our excellence in genomics and computational bioscience to develop the
    = link_to 'Norwich Research Park', 'http://www.norwichresearchpark.com/'
    as a world-leading centre in bioinformatics and applied biotechnology. Please consult
    = link_to 'EI website', 'http://www.earlham.ac.uk/'
    to learn more about us, our goals and the current projects we run.

  %h4 Brassica Information Portal Team

  %p.text-long
    %ul
      %li
        %strong
          = link_to 'Wiktor Jurkowski', 'http://www.earlham.ac.uk/wiktor-jurkowski'
        Jurkowski Group, EI
      %li
        %strong
          =link_to 'Annemarie Eckes', 'http://www.earlham.ac.uk/annemarie-hildegard-eckes'
        Jurkowski Group, EI
      %li
        %strong Sarah Ayling
      %li
        %strong Tomasz Gubała
        =link_to 'Spectrum IT', 'http://espectrum.pl/it'
      %li
        %strong Tomasz Szymczyszyn
        =link_to 'Spectrum IT', 'http://espectrum.pl/it'
      %li
        %strong Piotr Nowakowski
        =link_to 'Spectrum IT', 'http://espectrum.pl/it'

  %p.text-long
    BIP source code is available at
    = link_to 'GitHub', 'https://github.com/TGAC/brassica'
    and the internal data model is presented
    = succeed '.' do
      = link_to 'in this diagram', 'images/models_complete.png'

    Please get in touch with ideas and patches to further improve it, we are always happy to accept new contributors.

  %p.text-long
    BIP Portal follows our
    = link_to 'Terms of Use', 'http://www.earlham.ac.uk/terms-use'
    rules, so please check these when interested in using our service.
