.container
  .h2.page-title About Us

  %h4 Our Mission

  %p.text-long
    Our aim is to make <i>Brassica</i> crop data openly accessible and available in a
    standardised and well-described manner. We collaborate with
    = succeed ',' do
      = link_to 'Elixir', 'https://www.elixir-europe.org/about-us'
    = link_to 'Bioschemas.org', 'http://bioschemas.org/'
    and
    = link_to 'Biosamples', 'https://www.ebi.ac.uk/biosamples/'
    to make the hosted data findable and interoperable with analysis tools and
    re-usable among the scientific community.


  %h4 Brassica Information Portal Team

  %ul.text-long
    %li
      %strong Wiktor Jurkowski
      Earlham Institute, www:
      = link_to 'http://www.earlham.ac.uk/wiktor-jurkowski', 'http://www.earlham.ac.uk/wiktor-jurkowski'
    %li
      %strong Annemarie Eckes
      Earlham Institute, www:
      =link_to 'http://www.earlham.ac.uk/annemarie-hildegard-eckes', 'http://www.earlham.ac.uk/annemarie-hildegard-eckes'
    %li
      %strong Carlos Horro
      Earlham Institute, www:
      = link_to 'http://www.earlham.ac.uk/carlos-horro', 'http://www.earlham.ac.uk/carlos-horro'
    %li
      %strong Sarah Dyer
      Earlham Institute, email:
      =link_to 'contact address', 'mailto:sarah_address', class: 'email-link'
    %li
      %strong Tomasz Gubała
      =link_to 'Spectrum IT', 'http://espectrum.pl/it'
    %li
      %strong Tomasz Szymczyszyn
      =link_to 'Spectrum IT', 'http://espectrum.pl/it'
    %li
      %strong Piotr Nowakowski
      =link_to 'Spectrum IT', 'http://espectrum.pl/it'
    %li
      %strong Graham King
      =link_to 'Southern Cross University', 'http://scu.edu.au/scps/index.php/3'


  %h4 Brassica Community

  %ul.text-long
    %li
      = link_to 'Brassica.info','http://www.brassica.info/index.php'
    %li
      = link_to 'CropStoreDB','http://www.cropstoredb.org/'
    %li
      = link_to 'brassicadb','http://brassicadb.org/brad/'
    %li
      = link_to 'York Oilseed Rape Knowledgebase','http://bioltfws1.york.ac.uk/yorknowledgebase.info/resources.html'
    %li
      = link_to 'Brassica Genome Gateway','http://brassica.nbi.ac.uk/welcome.htm'
    %li
      = link_to 'The OREGIN project','http://www.herts.ac.uk/oregin/about-oregin'
    %li
      = link_to 'The RIPR project','http://www.rothamsted.ac.uk/projects/S5361'
    %li
      = link_to 'Brassica tools','http://brassica.earlham.ac.uk/'


  %h4 Acknowledgments

  %p.text-long
    This work was supported by UK Biotechnology and Biological Sciences Research Council
    as part of the BBSRC Renewable Industrial Products from Rapeseed (RIPR) Programme (BB/L002124/1)
    and was strategically funded by the BBSRC, Institute Strategic Programme Grant (BB/J004669/1) at the Earlham Institute
    (formerly The Genome Analysis Centre, Norwich).

  %p.text-long
    The underlying database schema is derived from the CropStoreDB schema ver.7 (Love et al 2012, doi:
    = link_to '10.1111/j.1744-7909.2012.01120.x', 'https://doi.org/10.1111/j.1744-7909.2012.01120.x', target: '_blank'
    ). Incorporated vocabularies include Gramene taxonomy (release 26.04.2013), plant ontology (release 19.05.2016)
    and trait ontology (release 12.11.2015), used under
    = link_to 'Planteome', 'http://planteome.org/License'
    and
    = link_to 'Gramene', 'http://archive.gramene.org/about/index.html#copyright'
    projects licenses.


