.container
  .h2.page-title About Brassica Information Portal

  %p.text-long
    %strong The Brassica Information Portal
    is a web repository for population and trait
    scoring information related to the Brassica breeding community. It provides
    information about quantitative trait loci and links curated Brassica phenotype
    experimental data with genotype information stored in external data sources.
    Advanced data submission capabilities and APIs enable users to store
    and publish their own study results in our Portal. The repository can be easily
    browsed thanks to a set of user-friendly query interfaces.

  %p.text-long
    BIP Portal follows our
    = link_to 'Terms of Use', 'http://www.earlham.ac.uk/terms-use'
    rules, so please check these when interested in using our service.

%h4 How to cite us

%h5 BIP
%p.text-long
  Eckes AH, Gubała T, Nowakowski P et al. Introducing the Brassica Information Portal: Towards integrating genotypic and phenotypic
  Brassica crop data [version 1; referees: awaiting peer review]. F1000Research 2017, 6:465 (doi: 10.12688/f1000research.11301.1)

%h5 GWASSER
%p.text-long
  = link_to "https://github.com/cyverseuk/GWASSER", "https://github.com/cyverseuk/GWASSER", target: "_blank"

%h4 Manuals and training
%p.text-long
  Most of operations at BIP is explained through context-sensitive help.
  In addition, detailed manuals explaining use of submission wizards are available below:
  = link_to 'Population Submission:','/manuals/upload_population_submission.pdf'
  = link_to 'Trial Submissions:','/manuals/upload_trial_submission.pdf'

  From the home page you may access a separate section dedicated to the
  =lik_to 'API documentation','/app/views/api.html.haml' where you
  find all information needed to write your own calls for programmatic data upload and retrieval.

  We have organised number of practical training courses on using the BIP.
  All slides, hands-on tutorial and test data sets are available on
  = link_to 'github','https://github.com/TGAC/BIP_training' for you to follow in your own pace.
  Do not hesitate getting in touch should you have question regarding the tutorial content or beyond.

%h4 Feedback.
  If you have any feedback or question about the BIP, please contact us at
  = link_to 'contact address', 'mailto:bip_address', class: 'email-link'

%h4 Licensing
  Submitters are responsible to adhere with data policies of his/her institution or company.
  By default, submitted data falls under the
  = link_to 'CC BY 4.0 license','https://creativecommons.org/licenses/by/4.0/', to ensure maximal re-use potential,
  while the data generator or submitter needs to be accredited. This is in accordance to the BBSRC,
  which has funded this infrastructure. Submitters can state their license preferences in the
  comments section during submission. If this is not explicitly done, the CC BY 4.0 license applies.
  BIP also hosts some historical data before BIP was setup. Please refer to the individual projects for
  license information.

  Everyone can access publicly available data from BIP without an account. We encourage everyone
  reusing data to contact the data generator or submitter (this should be available in the metadata).
  In any case, it is compulsory to acknowledge data generator or submitter in any resulting publication.

%h4 Embargo your data.

%h4
%h4
%h4
