%section.section-jumbotron.jumbotron
  .container.text-center
    %h3 Brassica Information Portal

    %p.intro-text
      The Brassica Information Portal is a web repository for population and trait
      scoring information related to Brassica breeding community. It provides
      information about quantitative trait loci and links curated Brassica phenotype
      experimental data with genotype information stored in external data sources.
      Advanced data submission capabilities and API interface allow users to store
      and publish their own study results in our Portal.

    %p
      = link_to 'Learn more', about_path, { class: 'btn btn-default btn-secondary btn-ghost btn-negative' }

%section.section-search
  .container
    .col-md-8
      %form.search{ action: "/search" }
        .form-group
          .input-group
            %input.form-control.form-negative(type="text" placeholder="Search for..." autofocus autocomplete='off')
            %span.input-group-btn
              %button.btn.btn-primary(type="submit") Search

    .col-md-1
      %span.text-negative - or -

    .col-md-3
      = link_to 'Start browsing', browse_data_path, class: 'btn btn-primary btn-block'

    .search-results

%section.section-actions.container
  .row
    .col-md-4.boxed-content.browse
      %a(href=browse_data_path)
        %i.flaticon-database
      %h2.boxed-content-title Browse database
      %p
        Browse and search through more than 100 thousands of trait scores, and
        look for related QTLs in a variety of Brassica subspicies.
      = link_to 'Browse data', browse_data_path, class: 'btn btn-primary'

    .col-md-4.boxed-content.submit
      %a(href=new_submission_path)
        %i.flaticon-pages
      %h2.boxed-content-title Submit new data
      %p
        Submit your experimental Brassica population data, along with scored
        traits and found genetic mapping, to be published in the Portal.
      = link_to 'Submit data', new_submission_path, class: 'btn btn-action'

    .col-md-4.boxed-content.documentation
      %a(href=api_documentation_path)
        %i.flaticon-settings
      %h2.boxed-content-title API Documentation
      %p
        Learn how to integrate your own software with our Portal, in order to
        retrieve and submit large quantities of data, automatically.
      = link_to 'API documentation', api_documentation_path, class: 'btn btn-mono'


- if @submissions.present?
  %section.section-submissions.container
    .row
      %h3.section-heading.text-center Latest user submissions
      = render partial: 'submissions/submissions_list', locals: { submissions: @submissions, mode: :public }


%section.section-statistics.container
  .row
    %h3.section-heading.text-center Database statistics

    - ['Experimental populations',
       'Trait scores',
       'Different varieties',
       'Plant lines'].each_with_index do |category_name, i|

      .col-md-3
        .info-chart
          .pie-chart{ data: { percent: 75 }}
            %span.percent= number_to_human(@statistics[i])
          %span.chart-title= category_name
