.actions.replace{ data: { confirmation: object.id } }
  Sure?
  = button_to 'Yes', url, method: method, class: "btn #{btn_size} btn-warning"
  %a{ href: "[data-confirmation=#{object.id}]",
      class: "btn btn-default #{btn_size}",
      data: { toggle: 'replace' }}
    No

.actions.replace.in{ data: { confirmation: object.id } }
  = other_content.html_safe if defined?(other_content)
  %a{ href: "[data-confirmation=#{object.id}]",
      class: "btn #{btn_class} #{btn_size}",
      title: html_escape_once(title),
      data: { toggle: 'replace', html: 'true' }}
    = label
