%footer#footer
  .footer-main
    .container
      .col-md-3
        %div
          .logo-bip

        %div
          .logo-earlham
          %p
            = link_to 'Earlham Institute', 'http://www.earlham.ac.uk/'
            %br
            Company Registration: 6855533
            %br
            Charity Number: 1136213
            %br

      .col-md-4.col-md-push-1.footer-contact-us
        %h4.section-heading Contact us
        %address
          = link_to 'Norwich Research Park', 'https://goo.gl/maps/QRouY'
          %br
          Norwich
          %br
          NR4 7UH UK
          %br

          %div
            %abbr(title="Telephone" data-toggle="tooltip") Telephone:
            +44 1603 450861
            %br
            %abbr(title="E-mail" data-toggle="tooltip") Email:
            %a(href="mailto:bip_address" class="email-link") bip_address

      .col-md-3.col-md-push-1.footer-links
        %h4.section-heading Links
        %ul.list-unstyled
          %li
            = link_to t('menu.browse'), navbar_menu[:browse]
          %li
            = link_to t('menu.submit'), navbar_menu[:submit]
          %li
            = link_to t('menu.api'), navbar_menu[:api]
          %li
            = link_to t('menu.about'), navbar_menu[:about]
          - if user_signed_in?
            %li
              = link_to 'Submissions', submissions_path

  .footer-copyright
    .container
      .col-md-12
        %small
          &copy; 2015-2016
          = succeed '.' do
            = link_to 'Earlham Institute', 'http://www.earlham.ac.uk/'
          Design and implementation:
          = link_to 'Spectrum IT', 'http://espectrum.pl/it'
