%footer#footer
  .container
    .row
      .col-md-4
        %div
          BIP LOGO HERE

        %div
          TGAC LOGO HERE
          %br
          = link_to 'The Genome Analysis Centre', 'http://www.tgac.ac.uk/'
          %br
          Company Registration: 6855533
          %br
          Charity Number: 1136213

      .col-md-4
        %h4 Contact us
        %address
          %div
            = link_to 'Norwich Research Park', 'https://goo.gl/maps/QRouY'
            %br
            Norwich
            %br
            NR4 7UH UK

          %div
            %abbr(title="Telephone") Telephone:
            +44 1603 450861
            %br
            %abbr(title="E-mail") Email:
            %a(href="mailto:tgac.enquiries@tgac.ac.uk") tgac.enquiries@tgac.ac.uk

      .col-md-2
      .col-md-2
        %h4 Links
        %div
          = link_to t('menu.browse'), navbar_menu[:browse]
          %br
          = link_to t('menu.submit'), navbar_menu[:submit]
          %br
          = link_to t('menu.api'), navbar_menu[:api]

        %div
          = link_to t('menu.about'), navbar_menu[:about]
          %br
          - if user_signed_in?
            = link_to 'Submissions', submissions_path

    .row
      .col-md-12
        %small
          &copy; 2015
          = succeed '.' do
            = link_to 'The Genome Analysis Centre', 'http://www.tgac.ac.uk/'
          Design and implementation:
          = link_to 'Spectrum IT', 'http://espectrum.pl/it'
