%header.page-header
  .container
    .row
      .col-xs-6
        %h1.logo
          = link_to root_path, {title: 'Brassica Information Portal'} do
            = image_tag '/images/logo-bip@2x.png', alt: 'Brassica Information Portal'

      .col-sm-6
        %ul.nav.nav-pills.pull-right.header-menu
          - unless user_signed_in?
            %li{ role: 'presentation' }
              = link_to 'Sign in with ORCiD', user_omniauth_authorize_path(:orcid), { class: 'btn btn-default btn-secondary btn-ghost' }

          - else
            %li.dropdown{ role: 'presentation' }
              %a.dropdown-toggle.btn.btn-secondary{ data: { toggle: 'dropdown' }, href: '#' }
                %i.flaticon-user
                = current_user.full_name
                %span.caret

              %ul.dropdown-menu
                %li= link_to 'Submissions', submissions_path
                %li= link_to 'Analyses', analyses_path
                %li= link_to 'API Key', api_keys_path
                %li= link_to 'Sign out', sign_out_path
