!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Brassica Information Portal
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #wrap
      .container
        = render 'layouts/header'

        .flash-group
          - if notice.present?
            .flash-notice= notice

          - if alert.present?
            .flash-alert= alert

        .main
          = yield

      #push

    = render 'layouts/footer'
