!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Brassica Information Portal
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #wrap
      .container
        .page-header
          .row
            .col-xs-6
              %h1 Brassica Information Portal

            .col-xs-6
              %ul.nav.nav-pills.pull-right
                - unless user_signed_in?
                  %li{role: 'presentation'}
                    = link_to 'Sign in with ORCiD', user_omniauth_authorize_path(:orcid)

                - else
                  %li.dropdown{role: 'presentation'}
                    %a.dropdown-toggle{'data-toggle': 'dropdown', href: '#'}
                      = current_user.full_name
                      %span.caret

                    %ul.dropdown-menu
                      %li= link_to 'Submissions', submissions_path
                      %li= link_to 'Sign out', sign_out_path

                %li{role: 'presentation'}
                  %a{href: '#'} About

        .flash-group
          - if notice.present?
            .flash-notice= notice

          - if alert.present?
            .flash-alert= alert

        .main
          = yield

      #push

    #footer
      .container
        .copy
          &copy; 2015

