!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Brassica Information Portal
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag  '/apple-icon-114x114.png',  rel: 'apple-touch-icon', sizes: '57x57', type: 'image/png'
    = favicon_link_tag  '/apple-icon-144x144.png',  rel: 'apple-touch-icon', sizes: '72x72', type: 'image/png'
    = favicon_link_tag  '/apple-icon-114x114.png',  rel: 'apple-touch-icon', sizes: '114x114', type: 'image/png'
    = favicon_link_tag  '/apple-icon-144x144.png',  rel: 'apple-touch-icon', sizes: '144x144', type: 'image/png'
    = favicon_link_tag  '/favicon-96x96.png',  rel: 'icon', sizes: '96x96', type: 'image/png'
    = favicon_link_tag  '/favicon.ico',  rel: 'icon', type: 'image/x-icon'
  %body
    = render 'cookies_eu/cookies_eu', link: 'http://www.tgac.ac.uk/cookies'
    #wrap
      = render 'layouts/header'
      = render 'layouts/navbar'
      .page-content
        .flash-group
          .container
            - if notice.present?
              .flash-notice= notice

            - if alert.present?
              .flash-alert= alert

        = yield

        #push

    = render 'layouts/footer'
